@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
  font-family: 'Nunito', sans-serif;
  position: relative;
  min-height: 100vh;
}

/* .background{
  /* position: absolute; */
  /* height: 100%; */
  /* background-repeat: round; */
  /* object-fit: cover; */
  /* object-position: center; */
  /* z-index: -99; */
  /* opacity: 0.125; */
/* } */ 
